## Vim
*.swp

## Examples files
SOS/examples/*

## Dropbox/Apple files
.dropbox
*DS_Store
Icon*

## Latex
SOS.pdf
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.bbl
*.blg
*.synctex*

diego*
